<h1 class="text-center mt-4 text-white">All articles</h1>

<div class="flickr_pagination">
  <%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

<%= render 'article' %>

<div class="flickr_pagination">
  <%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
