<h1 class="text-center mt-4 text-white">All articles</h1>

<div class="sticky-top text-center">
  <%= link_to 'Create New Article', new_article_path, class: "btn btn-primary" %>
</div>

<%= render 'article' %>
